<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["CSHLDraft.styles.css"]"/>
    <link rel="icon" type="image/png" href="https://ffcghkodqzdpgfmzrmci.supabase.co/storage/v1/object/public/brand//cshl-logo.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />
    
    <ImportMap/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>

<script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>

<script src="@Assets["picktimer.js"]"></script>
<script src="@Assets["fileDownload.js"]"></script>
</body>

</html>