@namespace CSHLDraft.Components.Shared

@inject Data.ICSHLData CSHLData

<MudDialog>
    <DialogContent>
        <div style="height: 80vh">
            <MudStack Style="height: inherit" Justify="Justify.Center" AlignItems="AlignItems.Start" Spacing="3" Wrap="Wrap.Wrap">
                @if (_draftPicks is not null)
                {
                    foreach (var roundPicks in _draftPicks.GroupBy(d => d.Round))
                    {
                        <div style="width: 250px;">
                            <MudText Typo="Typo.h6">ROUND @roundPicks.Key</MudText>
                            @foreach (var (pick, pickNum) in roundPicks.Select((p,i) => (p,i+1)))
                            {
                                <MudStack AlignItems="AlignItems.Center" Spacing="0" Row>
                                    <MudPaper 
                                        Class="mud-theme-surface d-flex justify-center align-center" 
                                        Width="30px" 
                                        Height="30px"
                                        Square>
                                        <MudText><b>@pick.pick</b></MudText>
                                    </MudPaper>

                                    <MudPaper
                                        Class="d-flex align-center pl-1"
                                        Height="25px"
                                        Width="200px"
                                        Elevation="0"
                                        Outlined
                                        Square>
                                        <MudText Typo="Typo.button"><b>@pick.PlayerName</b></MudText>
                                    </MudPaper>
                                    
                                    <MudPaper
                                        Style="@($"background-color: {pick.PrimaryHex}77")"
                                        Height="27px"
                                        Width="27px"
                                        Square>
                                        <MudImage Src="@pick.TeamLogo" Fluid />
                                    </MudPaper>
                                </MudStack>
                            }                            
                        </div>
                    }
                }
            </MudStack>
        </div>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] 
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter, EditorRequired]
    public required Data.CSHLDraft Draft { get; set; }

    private Guid? _draftId;
    
    private IEnumerable<Data.CSHLDraftPickDetail>? _draftPicks;

    protected override async Task OnInitializedAsync()
    {
        var options = MudDialog.Options with
        {
            FullWidth = true,
            CloseButton = true,
        };

        await MudDialog.SetOptionsAsync(options);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_draftId is not null && Draft.Id == _draftId) return;
        
        _draftId = Draft.Id;
        
        _draftPicks = await CSHLData.GetDraftPicksAsync(Draft.Id);
    }
}