@page "/draft/config"

@using System.Security.Claims

@attribute [Authorize]

@inject Data.ICSHLData CSHLData
@inject Data.CsvParser ExcelService
@inject Data.CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject Supabase.Client SBClient
@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject ISnackbar Snackbar


<div class="relative">
    
    @if (_draft is null)
    {
        <PageTitle>Draft</PageTitle>

        if (!_loading)
        {
            <MudText Typo="Typo.h6">Couldn't find a draft with that ID :(</MudText>
        }
    }
    else
    {
        <PageTitle>@_draft.Name.ToUpper()</PageTitle>
        
        <MudStack Class="my-2 mx-4" AlignItems="AlignItems.Center" Row>
            <MudText Typo="Typo.h4">@_draft.Name.ToUpper()</MudText>
            <MudSpacer />
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="More">
                <MudMenuItem Label="DELETE" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="DeleteDraft" />
            </MudMenu>
        </MudStack>
        <MudDivider />


        <MudGrid>
            <MudItem xs="12" lg="4">
                <MudDataGrid T="Data.CSHLTeam" Items="_teams" Height="60vh" EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual" CommittedItemChanges="OnTeamUpdated" ColumnResizeMode="ResizeMode.Column" SortMode="SortMode.None" ReadOnly="false" ShowColumnOptions="false" Filterable="false" Groupable="false" FixedHeader FixedFooter Dense>
                    <ToolBarContent>
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadTeamsFile" Accept="csv">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">
                                    Upload Teams
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                        <MudText Class="ml-2" Color="Color.Error">@_teamErrorMessage</MudText>
                    </ToolBarContent>
                    <Columns>
                        <TemplateColumn>
                            <CellTemplate>
                                <ImageEditOverlay OnClick="_ => UploadTeamLogo(context.Item)">
                                    <MudImage Src="@context.Item.LogoUrl" FallbackSrc="@CSHLTheme.EmptyProfileUrl" Height="30"/>
                                </ImageEditOverlay>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x => x.Name" Title="Name" />
                        <PropertyColumn Property="x => x.Pick" Title="Pick" />
                        <TemplateColumn Title="GM">
                            <CellTemplate>
                                @if (string.IsNullOrEmpty(context.Item.GmName))
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.PersonOff" Size="Size.Small" OnClick="_ => SelectGm(context.Item)"/>
                                }
                                else
                                {
                                    <MudTooltip Text="@context.Item.GmName" Placement="Placement.Top" Arrow>
                                        <MudLink OnClick="_ => SelectGm(context.Item)">
                                            <MudAvatar Color="Color.Info" Size="Size.Small">@string.Join("", context.Item.GmName.Split(" ").Select(x => x.First()))</MudAvatar>
                                        </MudLink>
                                    </MudTooltip>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn>
                            <CellTemplate>
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn>
                            <CellTemplate>
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="_ => RemoveTeam(context.Item)" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudButton Class="mud-elevation-2" OnClick="AddTeam" StartIcon="@Icons.Material.Filled.Add" Disabled="_loading" FullWidth>Add Team</MudButton>
                    </PagerContent>
                </MudDataGrid>
            </MudItem>
            <MudItem xs="12" lg="6">
                <MudDataGrid T="Data.CSHLPlayer" Items="_players" Height="60vh" EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual" CommittedItemChanges="OnPlayerUpdated" SortMode="SortMode.None" ReadOnly="false" ShowColumnOptions="false" Filterable="false" Groupable="false" FixedHeader FixedFooter Dense>
                    <ToolBarContent>
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadPlayersFile" Accept="csv">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">
                                    Upload Players
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                        <MudText Class="ml-2" Color="Color.Error">@_playerErrorMessage</MudText>
                    </ToolBarContent>
                    <Columns>
                        <TemplateColumn>
                            <CellTemplate>
                                <ImageEditOverlay OnClick="_ => UploadPlayerHeadshot(context.Item)">
                                    <MudImage Src="@context.Item.HeadshotUrl" Height="30"/>
                                </ImageEditOverlay>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x => x.Name" Title="Player" />
                        <PropertyColumn Property="@(x => x.Birthday.ToString("d"))" Title="Birthday" />
                        <PropertyColumn Property="x => x.Height" Title="Height" />
                        <PropertyColumn Property="x => x.Weight" Title="Weight" />
                        <TemplateColumn>
                            <CellTemplate>
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn>
                            <CellTemplate>
                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="_ => RemovePlayer(context.Item)" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudButton Class="mud-elevation-2" OnClick="AddPlayer" StartIcon="@Icons.Material.Filled.Add" Disabled="_loading" FullWidth>Add Player</MudButton>
                    </PagerContent>
                </MudDataGrid>
            </MudItem>
            <MudItem xs="12" lg="2">
                <div class="d-flex align-start gap-3 flex-column pa-1">
                    <MudSwitch T="bool" Label="Snake" Value="_draft.Snake" ValueChanged="OnSnakeChanged" Color="Color.Primary" Disabled="_loading" />
                    <MudDatePicker Date="_draft.DTStart" DateChanged="OnDateChanged" Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="_loading" Editable />
                    <MudTimePicker Time="_draft.TimeStart" TimeChanged="OnTimeChanged" Label="Time" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="_loading" AmPm Editable />
                    <MudButton Href="@($"draft/{DraftId}")" Color="Color.Info" Variant="Variant.Filled" FullWidth>Go to draft</MudButton>
                </div>
            </MudItem>
        </MudGrid>
    }
    
    
    <MudOverlay @bind-Visible="_loading" Absolute>
        <MudProgressCircular Indeterminate />
    </MudOverlay>
</div>


@code {

    [SupplyParameterFromQuery]
    public string? Draft { get; set; }

    private Guid DraftId;

    private Data.CSHLAccount? _currentUser;

    private bool _loading;
    private string _playerErrorMessage = string.Empty;
    private string _teamErrorMessage = string.Empty;

    private Data.CSHLDraft? _draft;
    private IEnumerable<Data.CSHLPlayer> _players = [];
    private IEnumerable<Data.CSHLTeam> _teams = [];

    protected override async Task OnParametersSetAsync()
    {
        if (Draft is null || !Guid.TryParse(Draft, out DraftId))
        {
            Navigation.NavigateTo("/");
            return;
        }
        
        if (_draft is not null && _draft.Id == DraftId) return;

        await LoadDataAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var state = await CustomAuthenticationStateProvider.GetAuthenticationStateAsync();
        if (state.User.Identity is null || !state.User.Identity.IsAuthenticated) return;

        var email = state.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value;
        _currentUser = await CSHLData.GetAccountByEmailAsync(email);
    }


    private async Task LoadDataAsync()
    {
        _loading = true;
        await InvokeAsync(StateHasChanged);

        _draft = await CSHLData.GetDraftByIdAsync(DraftId);
        if (_draft is not null)
        {
            _players = await CSHLData.GetPlayersInDraftAsync(DraftId);
            _teams = await CSHLData.GetTeamsInDraftAsync(DraftId);
        }

        _loading = false;
        await InvokeAsync(StateHasChanged);
    }


    private async Task OnPlayerUpdated(Data.CSHLPlayer player)
    {
        await CSHLData.SetDraftPlayersAsync(DraftId, _players);
        await LoadDataAsync();
    }
    
    
    private async Task OnTeamUpdated(Data.CSHLTeam team)
    {
        await CSHLData.SetDraftTeamsAsync(DraftId, _teams);
        await LoadDataAsync();
    }


    private async Task OnSnakeChanged(bool value)
    {
        _draft.Snake = value;
        await CSHLData.UpdateDraftAsync(_draft);
    }

    private async Task OnDateChanged(DateTime? value)
    {
        _draft.DTStart = value;
        await CSHLData.UpdateDraftAsync(_draft);
    }

    private async Task OnTimeChanged(TimeSpan? value)
    {
        _draft.TimeStart = value;
        await CSHLData.UpdateDraftAsync(_draft);
    }
    

    private async Task AddPlayer()
    {
        _players = _players.Prepend(new()
        {
            Id = Guid.NewGuid(),
            Name = "New Player",
            Birthday = DateTime.Now,
            Height = "6'0",
            Weight = "180 lb",
            HeadshotUrl = "",
        });
        
        await CSHLData.SetDraftPlayersAsync(DraftId, _players);
    }


    private async Task AddTeam()
    {
        var nextPick = _teams.Any() ? _teams.Max(x => x.Pick) + 1 : 1;
        
        _teams = _teams.Prepend(new()
        {
            Id = Guid.NewGuid(),
            Name = "New Team",
            LogoUrl = "",
            Pick = nextPick
        });
        
        await CSHLData.SetDraftTeamsAsync(DraftId, _teams);
    }


    private async Task RemovePlayer(Data.CSHLPlayer player)
    {
        var confirm = await DialogService.ShowMessageBox("Confirm", $"Remove {player.Name}?",  yesText: "Yes", noText: "No");
        if (!confirm.GetValueOrDefault()) return;
        
        _players = _players.Except([player]);
        await CSHLData.SetDraftPlayersAsync(DraftId, _players);
    }


    private async Task RemoveTeam(Data.CSHLTeam team)
    {
        var confirm = await DialogService.ShowMessageBox("Confirm", $"Remove {team.Name}?",  yesText: "Yes", noText: "No");
        if (!confirm.GetValueOrDefault()) return;
        
        _teams = _teams.Except([team]);
        await CSHLData.SetDraftTeamsAsync(DraftId, _teams);
    }


    private async Task UploadTeamsFile(IBrowserFile file)
    {
        var upload = await ExcelService.ParseCsvAsync<Data.InputTeam>(file);

        if (!upload.Success)
        {
            _teamErrorMessage = upload.Message;
            return;
        }

        await CSHLData.SetDraftTeamsAsync(DraftId, upload.Data);

        await LoadDataAsync();
    }

    private async Task UploadPlayersFile(IBrowserFile file)
    {
        var upload = await ExcelService.ParseCsvAsync<Data.InputPlayer>(file);

        if (!upload.Success)
        {
            _playerErrorMessage = upload.Message;
            return;
        }
        
        await CSHLData.SetDraftPlayersAsync(DraftId, upload.Data);

        await LoadDataAsync();
    }


    private async Task UploadTeamLogo(Data.CSHLTeam team)
    {
        if (_currentUser is null)
        {
            await DialogService.ShowMessageBox("Error", "You don't have permission to do that");
            return;
        }
        
        var dialog = await DialogService.ShowAsync<UploadImageDialog>("Upload Image");
        var result = await dialog.Result;

        if (result is null || result.Canceled || result.Data is not byte[] imageBytes) return;
        
        try
        {
            var filename = $"team-{team.Id}-{team.Name}.png";
            var options = new Supabase.Storage.FileOptions
            {
                ContentType = "data:image/*;base64",
                Upsert = true,
            };

            await SBClient.Storage.From("team-logos").Upload(imageBytes, filename, options);
            var publicUrl = SBClient.Storage.From("team-logos").GetPublicUrl(filename);
            await CSHLData.UpdateTeamLogoAsync(team.Id, publicUrl);

            team.LogoUrl = $"data:image/*;base64,{Convert.ToBase64String(imageBytes)}";
            Snackbar.Add("Success! The logo is being updated (it might take a minute for changes to reflect)", Severity.Success);
        }
        catch (Supabase.Storage.Exceptions.SupabaseStorageException)
        {
            Snackbar.Add("Image is too big to upload :(", Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("Something went wrong, the photo could not be uploaded :(", Severity.Error);
        }
    }


    private async Task UploadPlayerHeadshot(Data.CSHLPlayer player)
    {
        if (_currentUser is null)
        {
            await DialogService.ShowMessageBox("Error", "You don't have permission to do that");
            return;
        }
        
        var dialog = await DialogService.ShowAsync<UploadImageDialog>("Upload Image");
        var result = await dialog.Result;

        if (result is null || result.Canceled || result.Data is not byte[] imageBytes) return;

        try
        {
            var filename = $"player-{player.Id}-{player.Name}.png";
            var options = new Supabase.Storage.FileOptions
            {
                ContentType = "data:image/*;base64",
                Upsert = true,
            };

            await SBClient.Storage.From("headshots").Upload(imageBytes, filename, options);
            var publicUrl = SBClient.Storage.From("headshots").GetPublicUrl(filename);
            await CSHLData.UpdatePlayerHeadshotAsync(player.Id, publicUrl);

            player.HeadshotUrl = $"data:image/*;base64,{Convert.ToBase64String(imageBytes)}";
            Snackbar.Add("Success! The logo is being updated (it might take a minute for changes to reflect)", Severity.Success);
        }
        catch (Supabase.Storage.Exceptions.SupabaseStorageException)
        {
            Snackbar.Add("Image is too big to upload :(", Severity.Error);
        }
        catch (Exception e)
        {
            Snackbar.Add("Something went wrong, the photo could not be uploaded :(", Severity.Error);
        }
    }


    private async Task SelectGm(Data.CSHLTeam team)
    {
        var dialog = await DialogService.ShowAsync<SelectUserDialog>("Select User");
        var result = await dialog.Result;

        if (result is null || result.Canceled || result.Data is not Data.CSHLAccount selectedGm) return;

        await CSHLData.UpdateTeamGmAsync(team.Id, selectedGm);
        team.GmName = selectedGm.FirstName + " " + selectedGm.LastName;
    }


    private async Task DeleteDraft()
    {
        var confirm = await DialogService.ShowMessageBox("Confirm", "Delete this draft forever?", yesText: "Delete", noText: "Cancel");
        if (!confirm.GetValueOrDefault()) return;

        await CSHLData.DeleteDraftAsync(DraftId);
        Navigation.NavigateTo("/");
    }

}
