@namespace CSHLDraft.Components.Shared


<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <MudStack>
        <MudTextField Label="Email" @bind-Value="@model.Email" For="@(() => model.Email)" InputType="InputType.Email" />

        <MudTextField Label="Password" @bind-Value="@model.Password" For="@(() => model.Password)" InputType="InputType.Password" />

        <div class="d-flex align-center justify-space-between">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Log in</MudButton>
        </div>
    </MudStack>
</EditForm>

@code {

    [Parameter]
    public EventCallback<Data.LoginFormModel> OnSubmit { get; set; }

    private Data.LoginFormModel model = new();

    private void OnValidSubmit(EditContext editContext)
    {
        OnSubmit.InvokeAsync(editContext.Model as Data.LoginFormModel);
    }

}